@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #1a1a1a;

  
}

.container {
    max-width: 500px;
    height: 500px;
    border: 1px solid white;
    margin: 0 auto;

    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: center;*/

    /*align-content: space-around;*/
}

.item {
   /* padding: 20px;*/
    background-color: #ccc;
    margin: 5px;
    border-radius: 5px;
    text-align: center;

    /*
    flex-grow: 1;
    flex-basis: 150px;
    flex-shrink: 1;
    */

    flex: 1 1 150px; /*flex-grow: 1; flex-shrink: 1; flex-basics: 0 */


}